:host {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  .header {
    background-color: #e84393;
    background-image: linear-gradient(315deg, #e84393 0%, #000000 74%);
    .header-logo {
      height: 25px;
      width: 25px;
      margin-right:6px;
    }    
    .example-spacer {
      flex: 1 1 auto;
    }
    .user-name {
      font-weight: 500;
      font-size: 14px;
    }
  }
}