.dashboard-wrapper {
  padding: 80px 3px;
  min-width: 320px;
  margin: 0 auto;

  .tile-header {
    width:100%;
    background: linear-gradient(45deg, #553c9a, #ee4b2b);
    color:white;
    height:40px;
    position: absolute;
    top: 0;
  }
  .tile-header-text {
    font-weight: 500;
    margin: 10px 13px;
  }
}