<div class="login-wrapper" fxLayoutAlign="center center" fxFill>
  <div class="login-box">
    <div class="square" style="--i:0;"></div>
    <div class="square" style="--i:1;"></div>
    <div class="square" style="--i:2;"></div>
    <div class="square" style="--i:3;"></div>
    <div class="square" style="--i:4;"></div>
    <div class="square" style="--i:5;"></div>

    <div class="container" fxLayout="column" fxFlex> 
      <div class="form"> 
        <h2>LOGIN</h2>
        <form action="">
          <div class="inputBx">
            <input type="text" required="required">
            <span>Login</span>
            <i class="fas fa-user-circle"></i>
          </div>
          <div class="inputBx password">
            <input id="password-input" type="password" name="password" required="required">
            <span>Password</span>
            <i class="fas fa-key"></i>
          </div>
          <label class="remember"><input type="checkbox">
            Remember</label>
          <div class="inputBx">
            <input type="submit" value="Log in" disabled> 
          </div>
        </form>
        <p>Forgot password? <a href="#">Click Here</a></p>
        <p>Don't have an account <a href="#">Sign up</a></p>
      </div>
    </div>
  </div>
</div>