<app-header></app-header>
<div class="dashboard-wrapper">
  <mat-grid-list cols="{{cols}}" rowHeight="200px" gutterSize="15px" (window:resize)="onResize($event)">
    <mat-grid-tile [style.border]="'1px solid #dddddd'" rowspan="{{budgetWidgetRowSpan}}" colspan="{{budgetWidgetColSpan}}">
      <div class="tile-header">
        <div class="tile-header-text">Manage Your Budget</div>
      </div>
      <app-buget-tracker-main></app-buget-tracker-main>
    </mat-grid-tile>
    <mat-grid-tile [style.border]="'1px solid #dddddd'" rowspan="{{incomeWidgetRowSpan}}" colspan="{{incomeWidgetColSPan}}">
      <div class="tile-header">
        <div class="tile-header-text">Income</div>
      </div>
        <app-income-details></app-income-details>
    </mat-grid-tile>
    <mat-grid-tile [style.border]="'1px solid #dddddd'" rowspan="{{expenseWidgetRowSpan}}" colspan="{{expenseWidgetColSpan}}">
      <div class="tile-header">
        <div class="tile-header-text">Expense</div>
      </div>
      <app-expense-details></app-expense-details>
    </mat-grid-tile>
    <mat-grid-tile [style.border]="'1px solid #dddddd'" rowspan="{{incomeDetailsRowSpan}}" colspan="{{incomeDetailsColSpan}}">
      <div class="tile-header">
        <div class="tile-header-text">Last 5 months income v/s expense</div>
      </div>
      <app-five-months-income></app-five-months-income>
    </mat-grid-tile>
    <mat-grid-tile [style.border]="'1px solid #dddddd'" rowspan="{{categoryWidgetRowSpan}}" colspan="{{categoryWidgetColSpan}}">
      <div class="tile-header">
        <div class="tile-header-text">Categories</div>
      </div>
      <app-category></app-category>
    </mat-grid-tile>
    <mat-grid-tile [style.border]="'1px solid #dddddd'" rowspan="{{moneySpendWidgetRowSpan}}" colspan="{{moneySpendWidgetColSpan}}">
      <div class="tile-header">
        <div class="tile-header-text">Money spent on most</div>
      </div>
      <app-money-spend-tracker></app-money-spend-tracker>
    </mat-grid-tile>
  </mat-grid-list>
</div>